<h1>Component-architecture <br>Presentational and Container Components</h1><br>
<strong>Container components</strong> are responsible for managing state and passing data to presentational components,
which focus on
rendering the UI.
This separation of concerns enhances maintainability and testability.
<br>
<strong>Presentational components</strong> are typically stateless and receive data via inputs, while container
components handle logic
and state management
<img src="assets/images/Component_Arch_Container_Presentatipon.jpg" alt="Presentational and Container Components"
    class="img-fluid">

<app-parent></app-parent>